API_DOMAIN=tab5api.ampere.diadiatech.com.br
# Parâmetros informados pelo usuário para o Traefik existente.
TRAEFIK_NETWORK=meshcentral_proxy
TRAEFIK_HTTPS_ENTRYPOINT=websecure
TRAEFIK_CERTRESOLVER=letsencrypt
